<.header>
  Edit Sales figures <%= @sales_figures.id %>
  <:subtitle>Use this form to manage sales_figures records in your database.</:subtitle>
</.header>

<.sales_figures_form changeset={@changeset} action={~p"/sales-figures/#{@sales_figures}"} />

<.back navigate={~p"/sales-figures/#{@sales_figures}"}>Back to sales figures</.back>
