<.header>
  New Sales figures
  <:subtitle>Use this form to manage sales_figures records in your database.</:subtitle>
</.header>

<.sales_figures_form changeset={@changeset} action={~p"/performances/#{@performance}/sales-figures"} />

<.back navigate={~p"/performances/#{@performance}"}>Back to performance</.back>
