<.header>
  New Sales figures
  <:subtitle>Use this form to manage sales_figures records in your database.</:subtitle>
</.header>

<.sales_figures_form changeset={@changeset} action={~p"/sales-figures"} />

<.back navigate={~p"/sales-figures"}>Back to sales_figures</.back>
