<.header>
  Edit Performance for <%= @performance.production.title %>
</.header>

<.performance_form changeset={@changeset} action={~p"/performances/#{@performance}"} />

<.back navigate={~p"/performances"}>Back to performances</.back>
