<.header>
  Edit Performance for <%= @performance.production.title %>
</.header>

<.performance_form changeset={@changeset} edit={true} action={~p"/performances/#{@performance}?origin=#{@origin}"} />

<.back navigate={~p"/performances/#{@performance}?origin=#{@origin}"}>Back to performance</.back>
