<.header>
  New Performance
  <:subtitle>Use this form to manage performance records in your database.</:subtitle>
</.header>

<.performance_form changeset={@changeset} action={~p"/performances"} />

<.back navigate={~p"/performances"}>Back to performances</.back>
