<.header>
  New Performance for <%= @venue.name %>
</.header>

<.performance_form changeset={@changeset} action={~p"/venues/#{@venue}/performances"} />

<.back navigate={~p"/venues/#{@venue}"}>Back to venues</.back>
