<.header>
  Edit Season <%= @season.id %>
  <:subtitle>Use this form to manage season records in your database.</:subtitle>
</.header>

<.season_form changeset={@changeset} action={~p"/seasons/#{@season}"} />

<.back navigate={~p"/seasons"}>Back to seasons</.back>
