<.header>
  New Play
  <:subtitle>Use this form to manage play records in your database.</:subtitle>
</.header>

<.play_form changeset={@changeset} action={~p"/plays"} />

<.back navigate={~p"/plays"}>Back to plays</.back>
