<.header>
  New Venue
  <:subtitle>Use this form to manage venue records in your database.</:subtitle>
</.header>

<.venue_form changeset={@changeset} action={~p"/venues"} />

<.back navigate={~p"/venues"}>Back to venues</.back>
